[user]
	email = raphpb1912@gmail.com
	name = Raphael Tang
[credential]
	helper = store
[alias]
	yolo = !git add -A && git commit -m \"$(curl --silent --fail http://whatthecommit.com/index.txt)\"
[pull]
	rebase = false
