[user]
	email = raphpb1912@gmail.com
	name = Raphael Tang
[credential]
	helper = store
[alias]
	yolo = !git add -A && git commit -m \"$(curl --silent --fail http://whatthecommit.com/index.txt)\"
[pull]
	rebase = false
[core]
	autocrlf = input
[color]
	ui = auto
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
